@import "../vars.scss";
@import "../dimensions.scss";

//common page
.page-container {
    background-color: $pages-bg;
    height: auto;
}
.about-container,
.awards-container {
    background-color: $pages-bg;
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 20px 0 20px;
}

//about-common
.about-container,
.awards-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .left-side {
        h1 {
            font-size: 55px;
            color: $pages-h1;
        }
        p {
            color: $pages-p;
            font-size: 20px;
            line-height: 1.5;
        }
        .social-links {
            svg {
                margin: 20px 10px;
                font-size: $font-size-xl;
                color: $social-links;
                cursor: pointer;
                transition: 0.3s all;
                &:hover {
                    color: $social-links-hover;
                }
            }
        }
    }
    .right-side {
        .about-img,
        .awards-img {
            width: 500px;
            height: 500px;
            overflow: hidden;
            border-radius: 12%;
            img {
                height: 100%;
                margin-left: -100px;
            }
        }
    }
}

// awards
.awards-info-container {
    .right-side {
        .awards-img {
            width: 600px;
            img {
                margin-left: -60px;
            }
        }
    }
}
.awards-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: start;
    .list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        margin-top: 3rem;
        .awards-card {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            min-width: 230px;

            margin: 10px;
            img {
                width: 50px;
                height: 50px;
                margin: 10px;
            }
            .card-info {
                color: white;
                .title {
                    font-size: 20px;
                    font-weight: 700;
                }
                .subtitle {
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-container,
    .awards-container {
        padding: 50px 20px 0 20px;
    }
    .about-container,
    .awards-info-container {
        .left-side {
            h1 {
                text-align: center;
            }
        }
        .right-side {
            .about-img {
                width: 270px;
                height: 270px;
                img {
                    height: 100%;
                    margin-left: -50px;
                }
            }
            .awards-img {
                width: 370px;
                height: 270px;
                img {
                    height: 100%;
                    margin-left: 0px;
                }
            }
        }
    }
}
