@import "../../vars.scss";
@import "../../dimensions.scss";

.navbar-container {
    width: 100%;
    background-color: $navbar-bg;
    display: flex;
    justify-content: center;
    border-bottom: $navbar-border;

    position: fixed;
    top: 0;
    transition: top 0.3s;
    .navbar {
        width: 1200px;
        color: $navbar-color;

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 15px 30px;

        .navbar-logo {
            cursor: pointer;
            img {
                width: 100px;
            }
        }
        .navbar-item-container {
            display: flex;

            .navbar-item {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 10px;
                margin: 0 10px;
                border-bottom: 3px solid $navbar-item-border-bottom;

                span {
                    color: $navbar-item-color;
                }
                &:hover {
                    border-bottom: 3px solid $navbar-item-border-bottom-hover;
                    transition: all 0.3s;
                }
                &.dropdown {
                    svg {
                        transform: scale(2);
                        transition: all 0.3s;
                        margin-left: 7px;
                        fill: $navbar-item-arrow;
                        &.active {
                            fill: $navbar-item-arrow-hover;
                            transform: rotate(180deg) scale(2);
                        }
                    }
                    &:hover {
                        svg {
                            fill: $navbar-item-arrow-hover;
                        }
                    }
                }

                .navbar-menu-group {
                    &.active {
                        display: block;
                    }
                    display: none;
                    position: absolute;
                    top: 100px;
                    background-color: $navbar-dropdown-group-bg;

                    .navbar-menu-group-item {
                        display: flex;
                        align-items: center;
                        width: 200px;
                        height: 50px;
                        padding-left: 20px;
                        background-color: $navbar-dropdown-group-item-bg;
                        &:hover {
                            background-color: $navbar-dropdown-group-item-bg-hover;
                        }
                    }
                }
            }
        }
        .navbar-language-switcher {
            display: flex;
        }
        .navbar-hamburger-menu {
            display: none;
        }
    }
}
//Kis képernyős eszközök:
@media screen and (max-width: 320px) {
}

//Kicsi, közepes képernyős eszközök:
@media screen and (min-width: 321px) and (max-width: 767px) {
}

//Nagy, közepes képernyős eszközök:
@media screen and /* (min-width: 768px) and */ (max-width: 1023px) {
    .navbar-container {
        height: 50px;
        .navbar {
            .navbar-logo {
                img {
                    width: 40px;
                }
            }
            .navbar-language-switcher {
                z-index: 11;
            }
            .navbar-item-container {
                .navbar-item {
                    margin: 15px 60px 15px 30px;
                }
                &.hamburger-menu {
                    width: 0px;
                    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    top: 0;
                    right: 0;
                    background-color: $navbar-bg;
                    position: fixed;
                    height: 100vh;
                }
                &.hamburger-menu-open {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    top: 0;
                    right: 0;
                    background-color: $navbar-bg;
                    position: fixed;
                    height: 100vh;
                    width: 250px;
                    transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
                    .navbar-item {
                        margin: 15px 60px 15px 30px;
                        transition: 0.3s all;
                        display: flex;
                        &.active {
                            margin-bottom: 250px;
                            position: relative;
                        }
                    }
                    .navbar-menu-group.active {
                        position: absolute;
                        top: 45px;

                        transform: translateX(-100%);
                        height: 250px;
                        width: 30px;
                        .navbar-menu-group-item {
                            background-color: transparent;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            margin: 5px 30px;
                            border-bottom: 3px solid $navbar-item-border-bottom;

                            span {
                                color: $navbar-item-color;
                            }
                            &:hover {
                                border-bottom: 3px solid
                                    $navbar-item-border-bottom-hover;
                            }
                        }
                    }
                }
            }
            .navbar-hamburger-menu {
                z-index: 10;
                display: flex;
                svg {
                    height: 30px;
                    width: 30px;
                    fill: $navbar-hamburger;
                    cursor: pointer;
                    transition: 0.3s all;
                    &:hover {
                        fill: $navbar-hamburger-hover;
                    }
                }
            }
        }
    }
}

//Nagy képernyős eszközök:
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
