@import "../../vars.scss";
@import "../../dimensions.scss";

.footer {
    width: 100%;
    background: $footer-bg;
    display: flex;
    justify-content: center;

    .footer-container {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
        color: $white-color;
        text-align: center;

        .contact-session {
            h1 {
                color: $footer-contact-h1;
            }
        }

        .logo-session {
            text-align: center;
            img {
                width: 200px;
            }
            .social-links {
                svg {
                    margin: 20px 10px;
                    font-size: $font-size-xl;
                    color: $social-links;
                    cursor: pointer;
                    &:hover {
                        color: $social-links-hover;
                    }
                }
            }
        }

        .opening-hours-session {
            h1 {
                color: $footer-opening-hours-h1;
            }
            .opens {
                display: flex;
                gap: 30px;

                .bar,
                .kitchen {
                    div {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
//Kis képernyős eszközök:
@media screen and (max-width: 320px) {
    .footer {
        .footer-container {
            flex-direction: column;
            gap: 70px;
            .opening-hours-session {
                .opens {
                    flex-direction: column;
                }
            }
        }
    }
}

//Kicsi, közepes képernyős eszközök:
@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer {
        .footer-container {
            flex-direction: column;
            gap: 70px;
            .opening-hours-session {
                .opens {
                    flex-direction: column;
                }
            }
        }
    }
}

//Nagy, közepes képernyős eszközök:
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer .footer-container {
        flex-direction: column;
        gap: 70px;
    }
}

//Nagy képernyős eszközök:
@media screen and (min-width: 1024px) and (max-width: 1200px) {
}
