@import "../../vars.scss";

.footer {
    width: 100%;
    background: $footer-bg;
    display: flex;
    justify-content: center;

    .footer-container {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
        color: $white-color;
        text-align: center;

        .contact-session {
        }

        .logo-session {
            text-align: center;
            img {
                width: 200px;
            }
            .social-links {
                svg {
                    margin: 0 10px;
                }
            }
        }

        .opening-hours-session {
            .opens {
                display: flex;
                gap: 30px;

                .bar,
                .kitchen {
                    div {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
