//palette 60-30-10
$primary-color: #050505;
$secondary-color: #ee6055;
$tertiary-color: #60d394;

//common colors
$white-color: #fff;

//colors
$body-color: $secondary-color;
$body-bg: $primary-color;

$footer-bg: $primary-color;
$footer-contact-h1: $secondary-color;
$footer-opening-hours-h1: $secondary-color;

$social-links: $tertiary-color;
$social-links-hover: $secondary-color;

$navbar-bg: $primary-color;
$navbar-color: $tertiary-color;
$navbar-border: 1px solid rgba(255, 255, 255, 0.18);
$navbar-item-color: $white-color;
$navbar-item-arrow: $tertiary-color;
$navbar-item-arrow-hover: $secondary-color;
$navbar-item-border-bottom: $tertiary-color;
$navbar-item-border-bottom-hover: $secondary-color;
$navbar-dropdown-group-bg: $primary-color;
$navbar-dropdown-group-item-bg: $tertiary-color;
$navbar-dropdown-group-item-bg-hover: $secondary-color;
$navbar-hamburger: $tertiary-color;
$navbar-hamburger-hover: $secondary-color;
