//palette 60-30-10
$primary-color: #000;
$secondary-color: #ee6055;
$tertiary-color: #60d394;

//common colors
$white-color: #fff;

//colors
$body-color: $secondary-color;
$body-bg: $primary-color;

$footer-bg: $primary-color;
